# See https://help.github.com/ignore-files/ for more about ignoring files.

node_modules
coverage
.DS_Store
# package-lock.json
.env
app/src/jquery-1.11.0.min.js
app/src/jquery-1.11.0.min.js
app/src/jquery-1.11.0.min.js
app/src/scripts/jquery-1.11.0.min.js
app/src/scripts/jquery-1.11.0.min.js
app/src/jquery-1.11.0.min.js
app/src/jquery-1.11.0.min.js
app/src/scripts/jquery-1.11.0.min.js
