<!--<nav role="navigation">-->
<!--  <div id="menuToggle">-->
<!--    &lt;!&ndash;-->
<!--    A fake / hidden checkbox is used as click reciever,-->
<!--    so you can use the :checked selector on it.-->
<!--    &ndash;&gt;-->
<!--    <input type="checkbox" />-->

<!--    &lt;!&ndash;-->
<!--    Some spans to act as a hamburger.-->

<!--    They are acting like a real hamburger,-->
<!--    not that McDonalds stuff.-->
<!--    &ndash;&gt;-->
<!--    <span></span>-->
<!--    <span></span>-->
<!--    <span></span>-->

<!--    &lt;!&ndash;-->
<!--    Too bad the menu has to be inside of the button-->
<!--    but hey, it's pure CSS magic.-->
<!--    &ndash;&gt;-->
<!--    <ul id="menu">-->
<!--      <a href="#"><li>Home</li></a>-->
<!--      <a href="#"><li>About</li></a>-->
<!--      <a href="#"><li>Info</li></a>-->
<!--      <a href="#"><li>Contact</li></a>-->
<!--      <a href="https://erikterwan.com/" target="_blank"><li>Show me more</li></a>-->
<!--    </ul>-->
<!--  </div>-->
</nav>
<article class="hero">
  <h1>Revolutionize the way
    you shop for Beauty.</h1>
  <p>
    Never spend extra money nor time in becoming more beautiful.
    - BeautyBuy is your data-driven beauty assistant that eliminates
    your time of securing the best beauty deals.
  </p>
  <a href="#/search/" class="nav-link btn-join index-page-button"  role="button">Start Now</a>
</article>


