<!--<header>-->
<!--  <section>-->
<!--    <div class="nav-block">-->
<!--      <h1><a href="#/search/" title="BeautyBuy Home" aria-label="BeautyBuy Home">&nbsp;</a></h1>-->
<!--      <form class="product-search-form" id="product-search-form"-->
<!--            action="./#/search/"-->
<!--            onsubmit="location.href=this.action+'?q='+this.q.value;return false">-->
<!--        <input name="q" type="search" class="form-control" autocomplete="off"-->
<!--               list="typeahead"-->
<!--               placeholder="Search for a brand or deals"-->
<!--               aria-label="Search for a brand or deals">-->
<!--        <div class="nav-block nav-block-menu">-->
<!--          <ul class="navbar-nav" style="width: 100%;">-->
<!--            <li><a href="/#/search/?q=&skincare=all" class="nav-link">Skincare</a></li>-->
<!--            <li><a href="/#/search/?q=&skincare=not" class="nav-link">Makeup</a></li>-->
<!--            <li><a href="/#/search/?q=&designers=all" class="nav-link">Brands</a></li>-->
<!--            <li><a href="/#/search/?q=&savings=all" class="nav-link">Latest Deal</a></li>-->
<!--            <div class="vertical-line"></div>-->
<!--            <li><a href="/#/profile/" class="nav-link nav-link-my-list"><img  src="https://beautybuy.herokuapp.com/images/heart.svg" width="12" alt="My List Icon"/> &nbsp; My List</a></li>-->
<!--            <li><a href="/#/about/" class="nav-link">About us</a></li>-->
<!--          </ul>-->
<!--        </div>-->
<!--      </form>-->
<!--      <ul id="nav-auth" class="navbar-nav">-->
<!--        <li><a href="#/signin/" class="nav-link auth-link">&nbsp;</a></li>-->
<!--        <li><a href="#/signin/" class="nav-link btn-join auth-profile">&nbsp;</a></li>-->
<!--      </ul>-->
<!--    </div>-->
<!--  </section>-->
<!--  <h1><a href="#/search/" title="BeautyBuy Home" aria-label="BeautyBuy Home">&nbsp;</a></h1>-->
<!--  <nav id="nav">-->
<!--    <input type="checkbox" aria-label="Toggle menu">-->
<!--    <div class="hamburger"><span></span></div>-->
<!--    <ul class="menu">-->
<!--      <li><a href="#/search/">Search</a></li>-->
<!--      <li><a href="#/about/">About Us</a></li>-->
<!--      <li><a href="#/about/"></a></li>-->
<!--      <li><a href="#/signin/" class="btn-primary auth-link">&nbsp;</a></li>-->
<!--      <li><a href="#/signin/" class="btn-secondary auth-profile">&nbsp;</a></li>-->
<!--    </ul>-->
<!--  </nav>-->
<!--</header>-->
<article class="hero">
  <h1>Revolutionize the way
    you shop for Beauty.</h1>
  <p>
    Never spend extra money nor time in becoming more beautiful.
    - BeautyBuy is your data-driven beauty assistant that eliminates
    your time of securing the best beauty deals.
  </p>
  <a href="#/search/" class="nav-link btn-join" role="button">Start Now</a>
</article>
