.hero {
  padding: 7em;
}

.hero h1 {
  font-family: 'Lora';
  font-size: 270%;
  font-weight: 100;
  line-height: 1.2;
  margin-bottom: 0.5em;
}

.hero p {
  font-size: 120%;
  margin-bottom: 0.75em;
}

.hero a {
  display: inline-block;
  font-weight: 600;
  margin-top: 1.25em;
  padding: 1em 2.5em;
  text-decoration: none;
}

@media only screen and (min-width: 768px) {
  .hero h1 {
    width: 11em;
  }

  .hero p {
    width: 28em;
  }
}
