nav {
  display: block;
  float: right;
  left: -1em;
  padding-top: 0.2em;
  position: absolute;
  user-select: none;
  visibility: hidden; /* Used in user.js to prevent blinking. */
  width: 100%;
  z-index: 1;
  -webkit-user-select: none;
}

nav input,
nav .hamburger {
  height: 32px;
  position: absolute;
  right: 0;
  width: 40px;
}

nav input {
  display: block;
  opacity: 0;
  z-index: 2;
  -webkit-touch-callout: none;
}

nav .hamburger span,
nav .hamburger span:before,
nav .hamburger span:after {
  border-radius: 4px;
  height: 2px;
  position: absolute;
  transition: transform 0.15s ease;
  width: 35px;
}

nav .hamburger span {
  display: block;
  margin-top: 8px;
  transition-duration: 0.4s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

nav .hamburger span:before,
nav .hamburger span:after {
  content: '';
  display: block;
}

nav .hamburger span:before {
  top: 10px;
  transition: opacity 0.15s 0.4s ease;
}

nav .hamburger span:after {
  bottom: -10px;
  top: 20px;
  transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

nav ul {
  bottom: 0;
  left: 0;
  list-style-type: none;
  opacity: 0;
  padding: 2.5em 1em;
  position: fixed;
  right: 0;
  top: 5em;
  transform-origin: 0% 0%;
  transform: translate(0, -200%);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    opacity 0.5s ease-out;
  text-align: right;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  z-index: 99;
}

nav input:checked ~ ul {
  opacity: .95;
  transform: none;
  z-index: 99;
}

nav input:checked ~ .hamburger span {
  transform: translate3d(0, 10px, 0) rotate(135deg);
  transition-delay: 100s;
}

nav input:checked ~ .hamburger span:before {
  opacity: 0;
  transition-delay: 0s;
}

nav input:checked ~ .hamburger span:after {
  transform: translate3d(0, -20px, 0) rotate(-270deg);
  transition-delay: 100ms;
}

nav .menu a {
  display: inline-block;
  margin: 1em .1em;
  padding: 1em;
  text-decoration: none;
}

nav .menu .active,
nav .menu :active {
  border-radius: 3px;
}

.auth-link,
.auth-profile {
  visibility: hidden;
}

.is-authenticated .auth-join {
  display: none;
}

@media only screen and (min-width: 768px) {

  nav .hamburger {
    display: none;
  }
  nav,
  nav ul {
    padding: 0;
    position: static;
    margin: 0;
    width: auto;
  }
  nav ul {
    opacity: 1;
    margin-top: -1em;
    transform: none;
    transition: none;
  }
  nav li {
    display: inline-block;
  }
  nav .menu .active {
    margin: 1em;
  }
  nav .menu {
    max-height: 5em;
  }

  header > h1,
  #nav {
    display: none;
  }

  .nav-block {
    display: flex;
    justify-content: space-between;
  }
  .nav-block.indexPageNav{
    justify-content: end!important;
  }

  .navbar-nav {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: .5em 0 0;
    width: 200px;
  }

  .navbar-nav > li {
    margin: 3px 0;
  }

  .nav-block-menu > .navbar-nav > li > a {
    margin: 1em 0 0;
    padding: 0;
    text-transform: uppercase;
  }

  .nav-link {
    border-radius: 4px;
    font-size: smaller;
    padding: 1em;
    text-decoration: none;
  }

  .nav-block-menu {
    margin-top: 0.5em;
  }

  .product-search-form {
    width: 45%;
  }
}
.only-index-page-header{
  margin-right: 15px;
}
.only-index-page-header ul li{
  padding-right: 70px;
}
@media only screen and (max-width: 768px) {
  .nav-block {
    display: none;
  }
}
@media screen and (max-width: 540px){
  a.nav-link.indexpageli{
    display: flex;
  }
  .home-toggle-menu{
    display: flex;
    justify-content: space-between;
  }

  .home-toggle-menu .signin-button{
    visibility: visible;
    border: 1px solid black;
    padding: 5px 90px 5px 90px;
    border-radius: 5px;
    color: black;
    background: white;
  }
  .home-toggle-menu .joinnow-button{
    visibility: visible;
    padding: 5px 90px 5px 90px;
    border-radius: 5px;
    color: #ffffff;
    background: #4CADCD;
  }
  .Home-mylist{
    display: flex;
  }
  .Home-mylist .Home-mylist-list{
    margin-left: 50px;
  }
  .toggle-home-list{
    display: flex;
    height: 35px;
  }
  .toggle-home-list a:nth-child(2){
    margin-left: 70px;
    font-size: 25px;
  }
  .toggle-home-list a:nth-child(1){
    margin-left: 10px;
    font-size: 25px;
  }
nav{
  visibility: visible !important;
}
  .menu li {
    display:flex;
  }
  .indexpageli{
    display: flex;
    justify-content: space-between;
  }
  .indexpageliicon{
    margin-top: 10px;
    font-weight: 900;
    font-size: 25px;
    position: relative;
    top: -11px;
  }
  .indexpageliicon i{
    font-size: 25px;
    font-weight: 900;
  }
  .logoindexpage{
    background: no-repeat 0.1em 0.1em/8em #fff url('https://beautybuy.herokuapp.com/images/logo.png');
    margin-top: 8px;
  }
  nav .menu a{
    padding:0px;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: -0.333333px;
  }
  .menu{
    background-color: white;
  }

}
@media screen and (max-width: 428px){
  .home-toggle-menu .signin-button{
    padding: 5px 60px 5px 60px;
  }
  .home-toggle-menu .joinnow-button{
    padding: 5px 60px 5px 60px;
  }

}
@media screen and (max-width: 390px) {
  .home-toggle-menu .signin-button {
    padding: 5px 55px 5px 55px;
  }
  .home-toggle-menu .joinnow-button {
    padding: 5px 55px 5px 55px;
  }
}
@media screen and (max-width: 375px){
  .home-toggle-menu .signin-button{
    padding: 5px 45px 5px 45px;
  }
  .home-toggle-menu .joinnow-button{
    padding: 5px 45px 5px 45px;
  }

}

@media screen and (max-width: 320px){
  .home-toggle-menu .signin-button{
    padding: 5px 35px 5px 35px;
  }
  .home-toggle-menu .joinnow-button{
    padding: 5px 35px 5px 35px;
  }

}
@media screen and (max-width: 280px){
  .home-toggle-menu .signin-button{
    padding: 5px 30px 5px 30px;
  }
  .home-toggle-menu .joinnow-button{
    padding: 5px 30px 5px 30px;
  }

}
