/**
 * Default application CSS theme.
 *
 * Please put here only colors and background images.
 * @see https://en.wikipedia.org/wiki/Web_colors
 * @see https://developer.mozilla.org/en-US/docs/Web/CSS/background
 * @see https://developer.mozilla.org/en-US/docs/Web/CSS/color
 * @see https://developer.mozilla.org/en-US/docs/Web/CSS/opacity
 *
 * @see https://google.github.io/styleguide/htmlcssguide.html
 * @see https://github.com/google/closure-stylesheets
 */

/* open-sans-300 - latin */
@font-face {
  font-family: 'Open Sans - 300';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/open-sans-v23-latin-300.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/open-sans-v23-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/open-sans-v23-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/open-sans-v23-latin-300.woff') format('woff'), /* Modern Browsers */
       url('../fonts/open-sans-v23-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/open-sans-v23-latin-300.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/* open-sans-regular - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/open-sans-v23-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/open-sans-v23-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/open-sans-v23-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/open-sans-v23-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/open-sans-v23-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/open-sans-v23-latin-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/* open-sans-600 - latin */
@font-face {
  font-family: 'Open Sans - 600';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/open-sans-v23-latin-600.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/open-sans-v23-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/open-sans-v23-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/open-sans-v23-latin-600.woff') format('woff'), /* Modern Browsers */
       url('../fonts/open-sans-v23-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/open-sans-v23-latin-600.svg#OpenSans') format('svg'); /* Legacy iOS */
}

/* lora-regular - latin */
@font-face {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/lora-v17-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/lora-v17-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/lora-v17-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/lora-v17-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/lora-v17-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/lora-v17-latin-regular.svg#Lora') format('svg'); /* Legacy iOS */
}

body,
nav ul,
nav a,
.has-discount-true .discount span,
.times:before {
  color: #000;
  /*background: #fff;*/
}

a {
  color: #4cadcd;
}

header {
  background: white;
}

header section {
  background: no-repeat 1em 1em/14em #fff url('https://beautybuy.herokuapp.com/images/logo.png');
}

.hero {
  background: no-repeat center/cover #fff url('https://beautybuy.herokuapp.com/images/bg-1920x1080-min.png');
  color: #fff;
}

select {
  background: no-repeat 98% 50% url("data:image/svg+xml,%3Csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 4.95 10%27%3E%3Cpolygon fill=%27Gainsboro%27 points=%271.41 4.67 2.48 3.18 3.54 4.67 1.41 4.67%27/%3E%3Cpolygon fill=%27Gainsboro%27 points=%273.54 5.33 2.48 6.82 1.41 5.33 3.54 5.33%27/%3E%3C/svg%3E");
}

footer,
.btn-filter {
  border-top: solid 1px Gainsboro;
  background: WhiteSmoke;
}

nav .menu a.active,
nav .menu a:active,
nav .menu a:hover,
.times:hover:before,
.sub-header,
.btn-primary,
.btn-secondary,
button {
  background-color: #444;
  color: #fff;
}

.sub-header,
.btn-primary {
  background-color: DarkBlue;
}

.btn-secondary {
  background-color: DarkOrange;
}

.nav-link {
  color: #000;
}

.nav-link:hover {
  color: #4cadcd;
}

.nav-link-my-list {
  color: DarkOrange;
}

.nav-link-my-list:hover {
  color: SandyBrown;
}

.btn-join,
.btn-primary {
  background-color: #4cadcd;
  color: white;
}

.btn-join:hover,
.btn-primary:hover {
  background-color: #1b88ac;
  color: white;
}

.btn-secondary {
  background-color: white;
  border: solid 1px #4cadcd;
  color: #4cadcd;
}

.vertical-line {
  border-left: 1px solid #000;
  height: 18px;
  align-self: center;
  margin: 0 1em;
}

.btn {
  background: #fff;
  border-radius: 50px;
  color: #fa6400;
}

nav .hamburger span,
nav .hamburger span::before,
nav .hamburger span::after {
  background-color: #000;
}

input,
button,
textarea,
select {
  border: solid 1px Gainsboro;
  border-radius: 3px;
}

input,
textarea {
  background: transparent;
}

input:focus,
input:hover,
select:focus,
select:hover,
button:focus,
button:hover,
textarea:focus,
textarea:hover {
  border-color: Gainsboro;
}

.error {
  border: solid 1px OrangeRed;
}

.btn-filter,
.note,
aside h4 {
  color: #222;
}

aside label,
.disabled,
[disabled] {
  color: #262627 !important;
  font-size: smaller;
  font-weight: bold;
}

.overflow::-webkit-scrollbar-thumb {
  background: Silver;
}

th {
  background: #262627;
  color: #fff;
}

/**
 * Removing input background color for autocomplete.
 */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 99px #fff inset;
}

.has-discount-true .price {
  color: DimGray;
}

.has-discount-true .discount {
  color: SandyBrown;
}

.about h3,
.aside h2,
#account-details h3 {
  color: DarkBlue;
}

.card:hover {
  border-color: DarkBlue;
}

.designer {
  color: #4e4e51;
}

.card strong a {
  color: #262627;
}

hr,
.times:before {
  border: 1px solid Gray;
}

.btn-filter svg {
  fill: none;
  stroke: Gray;
}

tr > #td-first {
  background-color: #f7f7f9;
}

.form-control {
  background: url(../images/search.svg);
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: 10px;
  border: solid 1px black;
  font-size: 1em;
  text-indent: 30px;
}

.overflow > select {
  border: none;
  border-radius: 0;
  font-size: small;
  text-transform: capitalize;
  background: no-repeat 93% 50% #e4e4e7 url("../images/vector.svg");
}

.overflow > select:hover {
  cursor: pointer;
}

#filter-section > button {
  background: black;
}

.title_Recommended{
  padding: 7em;
}

#filter-section > button:hover {
  background: #444;
}


/*Header adustment*/
.home .indexheader{
  display: none;
}
.home .allpages{
  display: block;
}
.profile .indexheader,
.search .indexheader,
.about .indexheader,
.product .indexheader,
.checkout .indexheader,
.signin .indexheader {
  display: block;
}
.profile .allpages,
.search .allpages,
.about .allpages,
.product .allpages,
.checkout .allpages,
.signin .allpages {
  display: none;
}
.search-view-more{
  text-align: center;
  padding: 20px 0px 45px 0px;
}
@media only screen and (min-width: 768px) {
  tr > #td-first {
    background-color: #f7f7f9;
  }
}

@media only screen and (max-width: 768px) {
  header {
    background: no-repeat 2em 2em/13em #fff url('../images/logo.png');
  }
}
/*425*/
@media screen and (max-width: 540px ) {
.search-view-more{
  display: none;
}
  /*.search{*/
  /*  overflow: hidden;*/
  /*  height: 1567px;*/
  /*} */
  .hero{
    /*background: url("./app/www/images/bgmobile.png");*/
    padding: 1em;
    position: fixed;
    top: 85px;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    background-position: 83%;
    background-size: inherit;
  }
  .hero h1{
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 44px;
    padding-top: 153px;
    width: 265px;
    font-family: "Open Sans";
  }
  .hero p {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    width: 14.9em;
  }
  .hero a {
    background: #4CADCD;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    width: 78px;
    height: 24px;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    padding-top: 5px !important;
    padding: 0em 0em;
    font-family: "Open Sans";
    color: white;
  }
  .home footer{
    display: none;
  }
}
@media screen and (max-width: 360px ) {
.hero h1{
  padding-top: 100px;
}
}
@media screen and (max-width: 320px ) {
  .hero h1{
    padding-top: 70px;
  }
}

/*button.slick-prev.slick-arrow {*/
/*  display: none !important;*/
/*}*/
/*button.slick-next.slick-arrow {*/
/*  display: none !important;*/
/*}*/
/*ul.slick-dots{*/
/*  display: flex !important;*/
/*}*/
/*button#slick-slide-control00{*/
/*  background: white;*/
/*  border: none;*/
/*}*/

/*button#slick-slide-control01{*/
/*  background: white;*/
/*  border: none;*/
/*}*/
/*button#slick-slide-control02{*/
/*  background: white;*/
/*  border: none;*/
/*}*/
/*button#slick-slide-control02::after {*/
/*  content: " (" attr(href) ")";*/
/*}*/


/*for slider*/
/* Slider */
.slick-slider
{
  position: relative;

  display: block;
  box-sizing: border-box;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list
{
  position: relative;

  display: block;
  overflow: hidden;

  margin: 0;
  padding: 0;
}
.slick-list:focus
{
  outline: none;
}
.slick-list.dragging
{
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track
{
  position: relative;
  top: 0;
  left: 0;

  display: block;
  margin-left: auto;
  margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
  display: table;

  content: '';
}
.slick-track:after
{
  clear: both;
}
.slick-loading .slick-track
{
  visibility: hidden;
}

.slick-slide
{
  display: none;
  float: left;

  height: 100%;
  min-height: 1px;
}
[dir='rtl'] .slick-slide
{
  float: right;
}
.slick-slide img
{
  display: block;
}
.slick-slide.slick-loading img
{
  display: none;
}
.slick-slide.dragging img
{
  pointer-events: none;
}
.slick-initialized .slick-slide
{
  display: block;
}
.slick-loading .slick-slide
{
  visibility: hidden;
}
.slick-vertical .slick-slide
{
  display: block;

  height: auto;

  border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
  display: none;
}
